.todo-list {
    min-height: 70vh;
}

.app {
    background-color: var(--laranja);
    padding: .5rem;
    min-height: 20rem;
    width: 20rem;
    margin: 0 auto;
}

.titulo {
    font-size: 1.5rem;
}

/*INPUT E BOTAO*/
.formulario {
    display: flex;
    justify-content: space-between;
    margin: .8rem 0;
}

.formulario__input {
    border: none;border-radius: 5px;
    height: 2rem;
    padding: 10px;
    width: 70%;
}

.formulario__input:focus {
    outline: none;
    border: 1px solid black;
}

.formulario__botao {
    background: var(--laranja-claro);
    border: none;
    border-radius: 5px;
    font-family: 'Quantico', sans-serif;
    padding: 0 15px;
    transition: .3s;
}

.formulario__botao:hover, .lista__botao:hover{
    cursor: pointer;
    color: var(--laranja-escuro);
}

/*ITENS LISTA*/
.lista__item {
    align-items: center;
    background-color: var(--laranja-claro);
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
}

.lista__texto {
    max-width: 55%;
    word-wrap: break-word;
}

.lista__botao {
    background: var(--laranja);
    border: none;
    border-radius: 5px;
    font-family: 'Quantico', sans-serif;
    margin-right: 3px;
    padding: 5px 10px;
    transition: .3s;
}

.lista__botao:nth-child(2) {
    margin-right: 0;
}

.concluido {
    text-decoration: line-through;
}

@media screen and (max-width: 330px) {
    .app {
        padding: .5rem 0;
    }
}
