.cabecalho {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: .8rem;
}

.cabecalho__logo {
    align-items: center;
    display: flex;
}

.cabecalho__imagem {
    height: 3rem;
    margin: 0 .5rem;
}

.cabecalho__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.cabecalho__botao {
    background: var(--azul);
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: 2rem;
}

.cabecalho__botao:hover {
    border: 1px solid white;
    cursor: pointer;
}

.sol {
    display: none;
}

/*RESPONSIVO*/
@media screen and (min-width: 0) {
    .cabecalho__botao {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho__botao {
        margin-right: 2rem;
    }
}