.cabecalho {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: .8rem;
}

.cabecalho__logo {
    align-items: center;
    display: flex;
}

.cabecalho__imagem {
    height: 3rem;
    margin: 0 .5rem;
}

.cabecalho__titulo {
    font-size: 1.8rem;
    font-weight: 700;
}

.cabecalho__botoes {
    display: flex;
}

.cabecalho__botao-img {
    height: 2rem;
    border-radius: 100%;
}

.cabecalho__botao-img:hover {
    box-shadow:  1px 1px 5px white;
}

/*RESPONSIVO*/
@media screen and (min-width: 0) {
    .cabecalho__botao {
        margin: 3px;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho__botao {
        margin-right: 10px;
    }
}