:root {
    --roxo: #D2B4DE;
    --roxo-escuro: #A569BD;
    --azul: #1F618D;
    --bg: #FEFFD0;
    --laranja: #F8C471;
    --laranja-claro: #F9E79F;
    --laranja-escuro: #935116;
}

body {
    background: var(--bg);
    font-family: 'Quantico', sans-serif;
}

