:root {
    --bg: #031059;
    --azul: #1A5276;
    --azul-claro: #2471A3;
    --branco: #FDFDFD;
}

body {
    background: var(--bg);
    color: var(--branco);
    font-family: 'Quantico', sans-serif;
}



